<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613001252643-hfgj17htdrpmmjfb3badju25gcr2fb30.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613001252643-hfgj17htdrpmmjfb3badju25gcr2fb30</string>
	<key>API_KEY</key>
	<string>AIzaSyDMqOvAUOzFq-EnVb1fLqG3wyrpllMdazw</string>
	<key>GCM_SENDER_ID</key>
	<string>613001252643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>by.Artsem-Siman.Racing-game</string>
	<key>PROJECT_ID</key>
	<string>racing-game-98dff</string>
	<key>STORAGE_BUCKET</key>
	<string>racing-game-98dff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613001252643:ios:62f7cf0dd58941b6550696</string>
</dict>
</plist>